div.entry input {
  width: 200px !important;
  margin-right: 15px;
  float: left;
}

div.entry label {
  float: left;
  width: 90px;
  border-top: 0;
  margin-top: 5px;
}

div.entry {
  padding: 10px;
}

div.entry > div > div {
  margin-bottom: 5px;
}

#login {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

div.register {
  text-align: right;
}

span.small {
  font-size: 8px;
}

ul.errorlist {
  list-style: none;
  color: #A63E45;
  margin: 0;
  padding: 0;
  clear: both;
}


div.login #browserid {
    background: 10px no-repeat url('../img/icons/key.png') #D2E9FF !important;
    
 }
 
div.buttons {
   padding: 0px;
}

div.buttons form {
   display: inline-block;
}

button,.button {
    float:right;font-size:14px;font-weight:bold;line-height:14px;
    cursor:pointer;padding:6px 10px 7px;border:0;border-radius:3px;white-space:nowrap;
    color:#fff;text-shadow:0 1px rgba(0,0,0,0.5);
    box-shadow:inset 0 -1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(0,0,0,0.2);
    background-color:#4eb5e5;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4eb5e5),to(#3196cf));
    background-image:-webkit-linear-gradient(top,#4eb5e5,#3196cf);
    background-image:-moz-linear-gradient(top,#4eb5e5,#3196cf);
    background-image:-ms-linear-gradient(top,#4eb5e5,#3196cf);
    background-image:-o-linear-gradient(top,#4eb5e5,#3196cf);
    background-image: linear-gradient(top, #4eb5e5, #3196cf);
 }
 button:hover,button:focus,.button:hover,.button:focus {
    box-shadow:inset 0 -1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(0,0,0,0.2),0 2px 0 rgba(0,0,0,0.1);
    background-color:#4aafe5;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4aafe5),to(#2c89c8));
    background-image:-webkit-linear-gradient(top,#4aafe5,#2c89c8);
    background-image:-moz-linear-gradient(top,#4aafe5,#2c89c8);
    background-image:-ms-linear-gradient(top,#4aafe5,#2c89c8);
    background-image:-o-linear-gradient(top,#4aafe5,#2c89c8);
    background-image: linear-gradient(top, #4aafe5, #2c89c8);
 }
 button:focus,.button:focus {
    box-shadow:0 0 1px #fff,0 0 1px 3px #49ade3;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 3px rgba(73, 173, 227, 0.6);
 }
 button:active,.button:active {
    background-color:#184a73;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#184a73),to(#276084));
    background-image:-webkit-linear-gradient(top,#184a73,#276084);
    background-image:-moz-linear-gradient(top,#184a73,#276084);
    background-image:-ms-linear-gradient(top,#184a73,#276084);
    background-image:-o-linear-gradient(top,#184a73,#276084);
    background-image:linear-gradient(top,#184a73,#276084);
    color:#97b6ca;
    text-shadow:0 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.3);
 }
 button::-moz-focus-inner,.button::-moz-focus-inner {
    padding:0;border:0
 }
 #login button, #login .button {
    padding:6px 25px 7px 10px;margin: 2px;
    background-color:#4eb5e5;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4eb5e5),to(#3196cf));
    background-image:-webkit-linear-gradient(top,#4eb5e5,#3196cf);
    background-image:-moz-linear-gradient(top,#4eb5e5,#3196cf);
    background-image:-ms-linear-gradient(top,#4eb5e5,#3196cf);
    background-image:-o-linear-gradient(top,#4eb5e5,#3196cf);
    background-image:linear-gradient(top,#4eb5e5,#3196cf);
    background-image:url('../img/icons/button-arrow.png');
    background-repeat:no-repeat,no-repeat;
    background-position:center right,center
 }
 #login button:hover,#login button:focus,#login .button:hover,#login .button:focus {
    background-color:#4aafe5;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4aafe5),to(#2c89c8));
    background-image:-webkit-linear-gradient(top,#4aafe5,#2c89c8);
    background-image:-moz-linear-gradient(top,#4aafe5,#2c89c8);
    background-image:-ms-linear-gradient(top,#4aafe5,#2c89c8);
    background-image:-o-linear-gradient(top,#4aafe5,#2c89c8);
    background-image: linear-gradient(top, #4aafe5, #2c89c8);
    background-image:url('../img/icons/button-arrow-hover.png');
    text-decoration: none;
 }
 #login button:active,#login .button:active {
    background-color:#184a73;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#184a73),to(#276084));
    background-image:-webkit-linear-gradient(top,#184a73,#276084);
    background-image:-moz-linear-gradient(top,#184a73,#276084);
    background-image:-ms-linear-gradient(top,#184a73,#276084);
    background-image:-o-linear-gradient(top,#184a73,#276084);
    background-image: linear-gradient(top, #184a73, #276084);
    background-image: url('../img/icons/button-arrow-active.png');
 }
 button[disabled],button[disabled]:hover,.button[disabled]:hover,button[disabled]:focus,.button[disabled]:focus,button[disabled]:active,.button[disabled]:active,#login_disabled button,#login_disabled .button,#login_disabled button:hover,#login_disabled .button:hover,#login_disabled button:focus,#login_disabled .button:focus,#login_disabled button:active,#login_disabled .button:active {
    color:#d8dde0;cursor:default;background-color:#bcc4ca;background-image:none;background-image:-webkit-gradient(linear,left top,left bottom,from(#bcc4ca),to(#a0a7ae));background-image:-webkit-linear-gradient(top,#bcc4ca,#a0a7ae);background-image:-moz-linear-gradient(top,#bcc4ca,#a0a7ae);background-image:-ms-linear-gradient(top,#bcc4ca,#a0a7ae);background-image:-o-linear-gradient(top,#bcc4ca,#a0a7ae);background-image:linear-gradient(top,#bcc4ca,#a0a7ae);text-shadow:0 1px #444,0 0 2px #555;-ms-filter:"alpha(opacity=50)";opacity:.5;box-shadow:inset 0 -1px 0 rgba(0,0,0,0.3),0 1px 0 rgba(0,0,0,0.2)
 }
 button.negative {
    background-color:#d94f30;background-image:-webkit-gradient(linear,left top,left bottom,from(#d94f30),to(#ad1804));background-image:-webkit-linear-gradient(top,#d94f30,#ad1804);background-image:-moz-linear-gradient(top,#d94f30,#ad1804);background-image:-ms-linear-gradient(top,#d94f30,#ad1804);background-image:-o-linear-gradient(top,#d94f30,#ad1804);background-image:linear-gradient(top,#d94f30,#ad1804)
 }
 button.negative:hover,button.negative:focus,.button.negative:hover,.button.negative:focus {
    background-color:#e3653f;background-image:-webkit-gradient(linear,left top,left bottom,from(#e3653f),to(#c01c03));background-image:-webkit-linear-gradient(top,#e3653f,#c01c03);background-image:-moz-linear-gradient(top,#e3653f,#c01c03);background-image:-ms-linear-gradient(top,#e3653f,#c01c03);background-image:-o-linear-gradient(top,#e3653f,#c01c03);background-image:linear-gradient(top,#e3653f,#c01c03)
 }
 button.negative:active,.button.negative:active {
    box-shadow:0 0 5px #333 inset;color:#cfa391;background-color:#83311e;background-image:-webkit-gradient(linear,left top,left bottom,from(#83311e),to(#670d01));background-image:-webkit-linear-gradient(top,#83311e,#670d01);background-image:-moz-linear-gradient(top,#83311e,#670d01);background-image:-ms-linear-gradient(top,#83311e,#670d01);background-image:-o-linear-gradient(top,#83311e,#670d01);background-image:linear-gradient(top,#83311e,#670d01)
 }
