{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block jsheader %}
<link rel='stylesheet' media='all' type='text/css' href='{{ STATIC_URL }}css/login.css'>
{% endblock %}

{% block content %}
<div id='login'>
   <h1>Login</h1>
   <!-- Include BrowserID JavaScript -->
   <script src="https://browserid.org/include.js" type="text/javascript"></script>

   <!-- Define a form to send the POST data -->
   <div class="buttons">
      <form method="post" action="{% url 'socialauth_complete' 'browserid' %}">
         <input type="hidden" name="assertion" value="" />
         <a class="button" rel="nofollow" id="browserid" href="#">BrowserID</a>&nbsp;

         <!-- Setup click handler that retieves BrowserID assertion code and sends POST data -->
         <script type="text/javascript">
            $(function () {
               $('#browserid').click(function (e) {
                  e.preventDefault();
                  var self = $(this);

                  navigator.id.get(function (assertion) {
                     if (assertion) {
                        self.parent('form')
                           .find('input[type=hidden]')
                           .attr('value', assertion)
                           .end()
                           .submit();
                     } else {
                        alert('Some error occurred');
                     }
                  });
               });
            });
         </script>        
      </form>
      <a class="button" rel="nofollow" href="{% url 'socialauth_begin' 'github' %}?{{ redirect_querystring }}">GitHub</a>&nbsp;
      <div class="clear"></div>
   </div>   

   <form method='POST' id='paste-form'>
      <div class='entry'>
         <div>
            <div> <label>Username: </label> {{ form.username }} </div>

            {% if form.username.errors %}
            <div>{{ form.username.errors }}</div>
            {% endif %}

            <div> <label>Password: </label> {{ form.password}} </div>

            {% if form.password.errors %}
            <div>{{ form.password.errors }}</div>
            {% endif %}

         </div>
         <div class='clear'></div>
      </div>
      <div class='register'>
         <input type='submit' value='Login'>
      </div>
      <div>
         <br>
         {{ form.non_field_errors }}
      </div>
      {% csrf_token %}
   </form>
</div>
<script src='{{ STATIC_URL }}js/paste.js'></script>
{% endblock %}
